.listCategory {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: yellowgreen;
  text-align: center;
  border: 2px solid yellowgreen;
  border-radius: 5px;
  padding: 1rem;
}

.listItems {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: white;
  text-align: left;
  border-radius: 5px;
  padding-left: 1rem;
}
