.colorPickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

h1 {
  color: whitesmoke;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3rem;
  padding: 20px;
}
.colorDisplay {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(232, 219, 219);
  border-radius: 50%;
  margin-bottom: 10px;
}

label {
  color: whitesmoke;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

input[type="color"] {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none; /* remove the border */
    outline: none; /* remove the outline */
    -webkit-appearance: none; /* remove default styling in WebKit browsers */
    appearance: none; /* standard property */
  }